/*
  * styles.css
  * Author: Jim Coulter
  * Last Update: Aug 14 2016
*/

/* Utilities */
*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  box-sizing: border-box;
}
html{
  background-color: #dedede;
}
img {
  width: 100%;
  height: 100%;
}
.hidden{
  display: none;
}
/* END Utilities */

/* TOP NAV */
ul.top-nav{
  background-color: rgba(105, 105, 105, 0.6);
  display: flex;
  height: 50px;
  line-height: 50px;
  width: 60%;
}
  ul.top-nav li{
    font-family:"League-Gothic", Courier;
    font-size: 25px;
    font-weight:500;
    flex-grow: 1;
    float: left;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 2px 3px #888;
  }
  ul.top-nav li:hover{
    color: #dedede;
  }
/* END TOP NAV */


/* HOME SECTION */
/* WELCOME HERO */
.hero{
  background: url('images/coffee_shop.jpg') no-repeat 0 0;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.hero-text{
    background: rgba(0,0,0,.55);
    color:  #dedede;
    padding: 20px;
    text-align: center;
    width: 50%;
    position: absolute;
    margin-top: 45px;
}
  .hero h1{
    position: relative;
  }
/* END WELCOME HERO */

/* TOUTS */
.tout{
  width: 48%;
  height: 400px;
  float: left;
  margin: 1%;
}
.tout-1{
  background: green;
}
.tout-2{
  background: red;
}
/* END TOUTS */
/* END HOME SECTION */

/* MEDIA QUERIES */
@media screen and (max-width: 675px) {
  .hero{
    background: url('images/coffee_shop-mb.jpg') no-repeat 0 0;
    background-size: cover;
    height: 425px;
    display: inline-block;
    position: relative;
    height: 100%;
  }
    .hero-text{
      width: 100%;
      margin-top: 330px;
      display: block;
      position: relative;
    }

}
/* END MEDIA QUERIES