/*
  * styles.css
  * Author: Jim Coulter
  * Last Update: Aug 14 2016
*/

/* General House keeping */
*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  border: 0;
}
html{
  background-color: #dedede;
}
img {
  width: 100%;
}
.hidden{
  display: none;
}
/* END Genreal Housekeeping */

/* TOP NAV */
ul.top-nav{
  background-color: rgba(105, 105, 105, 0.6);
  display: flex;
  height: 50px;
  line-height: 50px;
  width: 60%;
}
  ul.top-nav li{
    font-family:"League-Gothic", Courier;
    font-size: 25px;
    font-weight:500;
    flex-grow: 1;
    float: left;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 2px 3px #888;
  }
  ul.top-nav li:hover{
    color: #dedede;
  }
/* END TOP NAV */


/* HOME SECTION */
/* WELCOME HERO */
.hero{
  width: 100%;
  display: flex;
}

.hero-text{
    background: rgba(0,0,0,.45);
    color:  #dedede;
    padding: 20px;
    text-align: center;
}
  .hero h1{
    position: relative;
  }
/* END WELCOME HERO */

/* TOUTS */
.tout{
  width: 48%;
  height: 400px;
  float: left;
  margin: 1%;
}
.tout-1{
  background: green;
}
.tout-2{
  background: red;
}
/* END TOUTS */
/* END HOME SECTION */