*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  border: 0;
}

html{
  background-color: #dedede;
}
img {
  width: 100%;
}
ul.top-nav{
  /*background-color: #696969;*/
  background-color: rgba(105, 105, 105, 0.8);
  height: 50px;
  width: 100%;
}
ul.top-nav li{
  font-family:"League-Gothic", Courier;
  font-size: 40px;
  font-weight:500;
  float: left;
  list-style: none;
  margin: 0 2%;
  text-transform: uppercase;
  text-shadow: 0px 2px 3px #888;
}
ul.top-nav li:hover{
  color: #dedede;
}
.hero{
  width: 100%;
  height: 500px;
  background: url(images/coffee_shop.jpg);
  display: inline-block;
}
  .hero-text{
    background: rgba(218, 165, 32, .58);
    border: 2px solid goldenrod;
    border-radius: 10px;
    margin: 10% 10% 0 10%;
    padding: 20px;
    text-align: center;
  }
  .hero h1{
    position: relative;
  }
.tout{
  width: 48%;
  height: 400px;
  float: left;
  margin: 1%;
}
.tout-1{
  background: green;
}
.tout-2{
  background: red;
}
.hidden{
  display: none;
}